html, body, *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Gluten', cursive;
   
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    justify-content: space-between;
    flex-basis: 33%;
    flex-shrink: 1;
}
.driver-card {
    width: 28%;
    margin: 10rem auto;
    font-size: 10rem;
    border: 2rem auto;
    transition: 0.3s all;
}
.driver-image {
    border-radius: 2rem;
    width: 60rem;
}
.driver-image:hover {
    transform: scale(1.07);
}
.h1 {
    font-size: 300px;
}

#hamilton:hover{
    transform: scale(1.1);
}

#gasly:{
    transform: ;
}

#leclerc:hover{
    transform: ;
}

#riccardo:hover{
    transform: ;
}